@import url(style.css);
.content-container {
  margin-left: 20%;
  padding: 2%;
}
.profile-div {
  width: 40%;
  box-shadow: 4px 4px 8px 2px rgba(34, 60, 80, 0.2);
  float: right;
  text-align: center;
  padding: 0 5% 2% 5%;
  position: relative;
}
.avatar-container {
  position: absolute;
  margin: -10%;
  left: 50%;
}
.avatar-img {
  border-radius: 50%;
  width: 100px;
  display: block;
  margin: 0 auto;
}
.name-profession {
  display: block;
  color: grey;
  margin-top: 80px;
  margin-bottom: 5%;
}
.user-name {
  display: block;
  margin: 5%;
}
