@import url(carousel.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Garamond, sans-serif;
}
html,
body {
  height: 100%;
}
.landing-header {
  position: fixed;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid grey;
  background-color: white;
  z-index: 1;
}
.header-content-container {
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
}
.navigation-menu {
  width: 50%;
}
.header-ul {
  list-style-type: none;
}
.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 1% 0 1%;
}
.header-li {
  display: inline-block;
  padding: 0 1% 0 1%;
  font-size: 1.2rem;
}
.header-link {
  color: inherit;
  text-decoration: none;
}
.header-social-div {
  width: 50%;
  text-align: right;
  opacity: 0.8;
  padding-right: 5%;
}
.social-link {
  padding: 0 4% 0 4%;
}
.header-social-img {
  width: 25px;
}
.main-container {
  max-width: 1600px;
  margin: 0 auto;
}
.greeting-container {
  padding-top: 60px;
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: flex;
  border-bottom: 1px solid grey;
}
.greeting-text-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10%;
}
.greeting-title {
  font-size: 3rem;
  width: 100%;
  font-weight: 500;
}
.greeting-text-high {
  font-size: 1.5rem;
  padding-top: 5%;
}
.greeting-text-small {
  font-size: 1.2rem;
  padding: 5% 0;
}
.greeting-button {
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: grey;
  padding: 2% 5%;
  align-self: start;
  font-size: 1.5rem;
}
.greeting-button:hover {
  background-color: rgba(0, 0, 0, 0.096);
}
.greeting-button:active {
  background-color: rgba(0, 0, 0, 0.26);
}
.greeting-img-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.greeting-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.story-container {
  width: 100%;
  height: 550px;
  display: flex;
  border-bottom: 1px solid grey;
}
.story-text-container {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10%;
}
.order-right {
  order: 1;
}
.story-title {
  font-size: 3rem;
  width: 100%;
  font-weight: 500;
}
.story-text {
  font-size: 1.5rem;
  padding: 5% 0;
}
.story-button {
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: grey;
  padding: 2% 5%;
  align-self: start;
  font-size: 1.5rem;
}
.story-button:hover {
  background-color: rgba(0, 0, 0, 0.096);
}
.story-button:active {
  background-color: rgba(0, 0, 0, 0.26);
}
.story-img-container {
  width: 35%;
  height: 100%;
  overflow: hidden;
}
.order-left {
  order: 0;
}
.story1-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.story2-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery-container {
  height: auto;
}
.gallery-title {
  font-size: 4rem;
  width: 100%;
  font-weight: 500;
  text-align: center;
  margin: 2% 0;
}
.img-container {
  position: relative;
}
.hide-content {
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.575);
  height: 100%;
  padding-top: 100px;
}
.hide-title {
  margin-bottom: 40px;
  font-size: 2rem;
  text-shadow: 2px 2px 2px black;
}
.hide-text {
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-shadow: 2px 2px 2px black;
}
.img-container:hover .hide-content {
  transition: all 2s;
  opacity: 1;
}
.hide-button {
  background-color: inherit;
  color: white;
  padding: 10px 40px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1.2rem;
  text-shadow: 2px 2px 2px black;
}
.hide-button:hover {
  background-color: rgba(189, 189, 189, 0.26);
}
.hide-button:active {
  background-color: rgba(228, 222, 222, 0.363);
}
.features-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
  background-color: rgb(173, 173, 173);
  grid-auto-flow: row;
  grid-template-areas:
    "feature-section1 feature-section2 feature-section3"
    "feature-section4 feature-section5 feature-section6";
  height: 600px;
  box-sizing: unset;
}
.features-section {
  text-align: center;
  background-color: white;
}
.feature-section1 {
  grid-area: feature-section1;
}

.feature-section2 {
  grid-area: feature-section2;
}

.feature-section3 {
  grid-area: feature-section3;
}

.feature-section4 {
  grid-area: feature-section4;
}

.feature-section5 {
  grid-area: feature-section5;
}

.feature-section6 {
  grid-area: feature-section6;
}

.title-features {
  font-size: 4rem;
  width: 100%;
  font-weight: 500;
  text-align: center;
  margin: 3% 0;
}

.features-section-img {
  margin: 5% 0;
}
.title-feature-section {
  font-size: 1.5rem;
  margin-bottom: 5%;
}
.feature-section-text {
  font-size: 1.3rem;
}
.form-container {
  padding: 3% 15%;
}
.input-group-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
.input-info-label {
  width: 32%;
}
.description-input {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2%;
}
.title-form {
  font-size: 4rem;
  width: 100%;
  font-weight: 500;
  text-align: center;
  margin: 2% 0;
}
.input {
  width: 100%;
  height: 40px;
  border-color: rgb(233, 233, 233);
  border-radius: 5px;
}
.radio-group {
  margin-bottom: 2%;
}
.description-radio-group {
  font-size: 1.5rem;
  font-weight: bold;
}
.radio-description {
  font-size: 1.5rem;
  padding-left: 1%;
}
.radio-button {
  margin-left: 1%;
}
.description-select {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1%;
}
.select-div {
  margin-bottom: 2%;
}
.select-story {
  width: 100%;
  height: 40px;
}
.text-area {
  width: 100%;
  margin-bottom: 2%;
}
.select-container {
  margin-bottom: 2%;
}
.confirm-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox-label {
  width: 50%;
}
.description-checkbox {
  font-size: 1.5rem;
  padding-left: 1%;
  font-weight: bold;
  min-width: 50%;
}
.submit-button {
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: grey;
  padding: 1% 2%;
  align-self: start;
  font-size: 1.5rem;
}
.submit-button:hover {
  background-color: rgba(0, 0, 0, 0.096);
}
.submit-button:active {
  background-color: rgba(0, 0, 0, 0.26);
}
.footer {
  width: 100%;
  border-top: 1px solid grey;
  padding: 1% 0;
}
.social-container {
  display: flex;
  justify-content: center;
}
.footer-social-link {
  margin: 2% 0.5%;
  border: 1px solid grey;
  border-radius: 50%;
  padding: 5px;
}
.img-social-footer {
  width: 30px;
  opacity: 0.8;
}
.footer-social-link:hover {
  background-color: rgba(143, 143, 143, 0.548);
  cursor: pointer;
}
.copyright {
  display: block;
  text-align: center;
  font-size: 1.3rem;
}
